/*Make defaults nicer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*ensure root element takes the full height of the viewport*/
html, body {
    height: 100%;
}


/* style the pseudoelement class that displays the error message */
.error {
    display: inline-block;
    margin-top: 8px;

}

/*Small taco icon to repeat over a red background for a fun background that pops */
.taco-bg {
    background-image: url("./resources/taco-background-icon.png");
    background-size: 100px 100px;
    background-repeat: repeat;
    background-color: red;
    z-index: -99;
}

/*Styling for the menu item card, limit size to 40% screen height */
.menu-item {
    height: 40vh;
}

/*Use google font for all navbar components and all h1 elements*/
.navbar > *, h1 {
    font-family: 'Poppins', sans-serif;

}











